In [8]:
%matplotlib inline
import os
import glob
import geopandas as gp
import pandas as pd

In [9]:
psa_file = "/Volumes/CWMobileSSD/Geodata_fires/AICC/AK_PSA_boundaries/predictive_service_areas.shp"
snowcovershp_dir = "/Volumes/CWMobileSSD/Geodata_fires/2020_COVID_AFS/natice_noaa/SHP_Products/"
snowcovershp = "snowcover_20200504.shp"
snowcovershp_pat = "snowcover_2020*.shp"

In [5]:
psa_df = gp.read_file(psa_file)

In [7]:
psa_df

,GACC,PSA_NAME,NAT_CODE,geometry
0,Alaska,Kuskokwim Valley,AK09,"POLYGON ((3864.704 1523217.379, 4138.459 15232..."
1,Alaska,Northern Panhandle,AK15,"MULTIPOLYGON (((814279.958 1224307.502, 814044..."
2,Alaska,Central Panhandle,AK16,"MULTIPOLYGON (((1150263.879 1141323.257, 11583..."
3,Alaska,Southern Panhandle,AK17,"MULTIPOLYGON (((1287420.901 1013146.546, 12850..."
4,Alaska,Matanuska Valley and Anchorage,AK13,"MULTIPOLYGON (((294755.966 1387355.856, 295183..."
5,Alaska,Kenai Peninsula,AK14,"MULTIPOLYGON (((299196.144 1246308.702, 299639..."
6,Alaska,Tanana Valley-West,AK01W,"POLYGON ((441232.988 1511607.653, 440860.776 1..."
7,Alaska,Susitna Valley,AK11,"MULTIPOLYGON (((318547.105 1524804.650, 318892..."
8,Alaska,Tanana Zone-South,AK03S,"POLYGON ((195865.138 1771940.537, 196265.368 1..."
9,Alaska,Koyukuk and Upper Kobuk,AK04,"MULTIPOLYGON (((-482362.610 2130550.562, -3707..."
10,Alaska,Lower Yukon,AK07,"POLYGON ((-448115.770 1363646.892, -447998.678..."
11,Alaska,Middle Yukon,AK05,"POLYGON ((-35990.791 1863788.222, -35853.755 1..."
12,Alaska,Upper Yukon Valley,AK02,"POLYGON ((407068.279 2148083.252, 460598.201 2..."
13,Alaska,Copper River Basin,AK12,"MULTIPOLYGON (((339061.459 1535894.732, 339931..."
14,Alaska,Kodiak Island,AK18,"MULTIPOLYGON (((42678.009 888928.963, 42932.08..."
15,Alaska,North Slope,AK00,"MULTIPOLYGON (((-223350.099 2268026.097, -2235..."
16,Alaska,Tanana Zone-North,AK03N,"POLYGON ((213791.880 1994708.833, 214085.504 1..."
17,Alaska,Seward Peninsula,AK06,"MULTIPOLYGON (((-460732.960 1883186.619, -4616..."
18,Alaska,Bristol Bay and AK Peninsula,AK10,"MULTIPOLYGON (((80945.176 1174785.960, 87810.0..."
19,Alaska,Yukon-Kuskokwim Delta,AK08,"MULTIPOLYGON (((-271383.883 1591344.979, -2766..."
20,Alaska,Tanana Valley-East,AK01E,"POLYGON ((503316.725 1660543.901, 503460.522 1..."

In [12]:
gdfl = [gp.read_file(fn) for fn in glob.glob(os.path.join(snowcovershp_dir, snowcovershp_pat))]
snowcover_df = gp.GeoDataFrame( pd.concat(gdfl, ignore_index=True), crs=gdfl[0].crs)

In [13]:
snowcover_df.head()

,snowclass,refdate,clname,geometry,chardate,refdate_1,chardate_1,clname_1
0,3,2020-04-15,ice,"POLYGON ((1455860.348 3190005.735, 1457849.256...",NaN,NaN,NaN,NaN
1,3,2020-04-15,ice,"POLYGON ((1708451.671 3190005.735, 1714418.395...",NaN,NaN,NaN,NaN
2,3,2020-04-15,ice,"POLYGON ((1929220.464 3190005.735, 1938170.551...",NaN,NaN,NaN,NaN
3,3,2020-04-15,ice,"POLYGON ((2060488.396 3190005.735, 2064466.212...",NaN,NaN,NaN,NaN
4,4,2020-04-15,snow,"POLYGON ((2080377.476 3190005.735, 2082366.385...",NaN,NaN,NaN,NaN

In [15]:
gdfl[0].dissolve(by="snowclass")

,geometry,refdate,clname
snowclass,,,
0,"MULTIPOLYGON (((2702905.697 395589.921, 270390...",2020-04-15,no data
1,"MULTIPOLYGON (((2686994.432 594480.727, 268898...",2020-04-15,water
2,"MULTIPOLYGON (((-768733.308 531830.123, -76574...",2020-04-15,snow-free
3,"MULTIPOLYGON (((-339129.169 649175.698, -33813...",2020-04-15,ice
4,"MULTIPOLYGON (((2493075.897 331944.864, 249407...",2020-04-15,snow

In [17]:
testdf20200415 = _15

In [23]:
gp.overlay(testdf20200415, psa_df.loc[psa_df.PSA_NAME=="Tanana Valley-West"])

,refdate,clname,GACC,PSA_NAME,NAT_CODE,geometry
0,2020-04-15,ice,Alaska,Tanana Valley-West,AK01W,"MULTIPOLYGON (((460411.868 1568051.218, 461406..."
1,2020-04-15,snow,Alaska,Tanana Valley-West,AK01W,"POLYGON ((441232.988 1511607.653, 440860.776 1..."

In [24]:
testdf20200415_agg = _23

In [25]:
testdf20200415_agg["area"] = testdf20200415_agg.geometry.area / 10**6

In [27]:
testdf20200415_agg["percarea"] = testdf20200415_agg["area"] / testdf20200415_agg["area"].sum()

In [28]:
testdf20200415_agg

,refdate,clname,GACC,PSA_NAME,NAT_CODE,geometry,area,percarea
0,2020-04-15,ice,Alaska,Tanana Valley-West,AK01W,"MULTIPOLYGON (((460411.868 1568051.218, 461406...",116.694780,0.002214
1,2020-04-15,snow,Alaska,Tanana Valley-West,AK01W,"POLYGON ((441232.988 1511607.653, 440860.776 1...",52589.794551,0.997786

In [30]:
testdf20200415_agg.refdate[0]

'2020-04-15'

In [33]:
snowcover_df = snowcover_df[['snowclass', 'refdate', 'clname', 'geometry']]